{% extends 'substation/base.html' %}

{#{% block mainmenu %}#}
{#{% for m in menu %}#}
{#    {% if not forloop.last %}#}
{#            <li><a href="{% url m.url_name %}">{{m.title}}</a></li>#}
{#    {% else %}#}
{#            <li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>#}
{#    {% endif %}#}
{#{% endfor %}#}
{#{% endblock mainmenu %}#}

{% block content %}
<h1>{{ post.title }}</h1>
    {% if post.photo %}
        <p><img class="img-article-left" src="{{ post.photo.url }}"></p>
    {% endif %}
{{ post.content|linebreaks }}
{% endblock %}